<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>

    
    <% fanComments.forEach(function(comment) { %>

        <%= comment.name %><br><%= comment.name %>
        <hr>
        <% }); %>
  </body>
</html>