<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
   
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>

    <form accept-charset="UTF-8" action="/newFan" method="post">
            
        <div class="item">
            <label for="name">Name:</label>
            <input name="name" type="text" placeholder="Please enter your name" />
            
            <label for="comment">Comment:</label>
            <input name="comment" type="text" placeholder="Please enter your comment" /> 
  
            <button class="button">Leave Comment</button>
        </div>
        
        
        
    </form>


  


</body>
</html>
